* {
    color: #e69e00;
    
}

body {
    background-color: #000;
    background-image: url('Images/gif.gif');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

div {
    position: absolute;
    transform: translate(-50%, -50%); /* Center control*/
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    display: flex;
    width: 90%;
    height: 10%;
    left: 50%;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 6vmin;
    gap: 20%;
}

img {
    width: 5vmin;
    height: 5vmin;
}

.main_div {
    width: 90vmin;
    height: 90vmin;
    top: 50%;
    background-color: rgba(0, 100, 50, 0.5);
    border: 1vmin solid #e69e00;
    border-radius: 10%;
}

.smile {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    border: 0.5vh solid #e69e00;
    background-image: url("Images/Smile.png");
    background-size: cover; /* Adjusts the image to cover the whole element */
    background-position: center; /* Centers the image */
}

.click_here {
    font-size: 200%;
    text-decoration: underline;
}
