body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.top-center {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.fps-text {
  font-weight: bold;
  font-size: 35px;
  color: #e69e00;
}

.image-container {
  position: absolute;
  top: 70px; 
  left: 50%;
  transform: translateX(-50%); 
}

.image-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  border: 3px solid #e69e00; 
}

.click-here {
  font-family: Merriweather, sans-serif;
  font-size: 75pt;
  font-weight: 900;
  color: #e69e00;
  text-decoration: underline;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click-here a {
  color: #e69e00;
  text-decoration: none;
}

.social-icons {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}


.social-icons img {
  width: 32px;
  height: 32px;
}


@media (max-width: 768px) {
  .fps-text {
      font-size: 25px;
  }

  .image-container img {
      width: 64px;
      height: 64px;
  }

  .click-here {
      font-size: 50pt;
  }
}


@media (max-width: 480px) {
  .fps-text {
      font-size: 20px;
  }

  .image-container img {
      width: 48px;
      height: 48px;
  }

  .click-here {
      font-size: 35pt;
  }
}
